services:
  backend:
    #    build: ./wonderpool-api
    image: ghcr.io/mfloreszarate/wonderpool-api:8dce8d64a01846b774a09009425357e6fe843b1a
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      FRONT_URL: http://localhost
      DATABASE_USER: wonderpool_user
      DATABASE_PASSWORD: wonderpool_pass
      DATABASE_NAME: wonderpool
      DATABASE_URL: db
      DATABASE_PORT: 3306
      STAGE: development
      JWT_SECRET: your-super-secret-jwt-key-change-this-in-production
      JWT_EXPIRATION: 24h
    depends_on:
      - db
    networks:
      - app-network
  frontend:
    #    build: ./wonderpool-admin
    image: ghcr.io/mfloreszarate/wonderpool-admin:64ba0ce0235c7bba1762c6ec8934a726184209da
    container_name: frontend
    ports:
      - "8090:80"
    restart: always
    networks:
      - app-network
  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password_123
      MYSQL_DATABASE: wonderpool
      MYSQL_USER: wonderpool_user
      MYSQL_PASSWORD: wonderpool_pass
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: wonderpool_user
      PMA_PASSWORD: wonderpool_pass
      MYSQL_ROOT_PASSWORD: root_password_123
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db-data:
  portainer-data:


networks:
  app-network:
    driver: bridge
